#sidebar {
    -fx-background-color: linear-gradient(to top, #38373e, #18171f);
}

#expenses-list {
    /*-fx-border-radius: 100px;*/
    /*-fx-background-color: black;*/
    /*-fx-effect: drop-shadow(30px 10px 4px #c5c5c5);*/
}

#balance {

}

#selected__button {
    -fx-text-fill: black;
    -fx-background-color: white;
}