#sidebar {
    -fx-background-color: linear-gradient(to top, #35323a, #18171e);
}

#title-text {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#main-content {
    -fx-background-color: #f5f5f5;
}

#app_buttons_style {
    -fx-background-color: #fec0e6;
    -fx-text-fill: black;
    -fx-border-radius: 8px;
    -fx-cursor: pointer;
}

#app_buttons_style:hover {

}